.DS_Store
Thumbs.db
Desktop.ini
*.swp

/Assets/Osiris/Audio/*.wav

/Mastering/*.mov
/Mastering/*.wav
/Mastering/*.mp3
/Mastering/Template.jpg
/Mastering/Adobe Premiere Pro Auto-Save

*.mp4
*.mov

/Extras/*.obj
/Extras/backup
/Library
/Temp
/Render

/Assets/StreamingAssets/FFmpegOut
/Assets/StreamingAssets/FFmpegOut.meta
